html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

img,
embed,
object,
video {
    margin: 0;
    max-width: 100%;
}

body {
    background: #ffffff url('../img/bg.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px 0;
    transition: 1s padding ease-in-out, 1s width ease-in-out;
    -webkit-transition: 1s padding ease-in-out, 1s width ease-in-out;
    margin: auto;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 100%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 3em;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.deck .card {
    min-width: 48px;
    width: 22%;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/*
* Make square
*/

.deck .card:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 100%;
    padding: 0 10px 0;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 10px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    width: 48px;
    height: 48px;
    background: #f9fafb;
    color: #2e3d49;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.stars-color {
    color: orange;
}

.timer {
    padding: 0 10px 0;
}

#modal-container {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    overflow: auto;
}

#modal-container .modal-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#modal-container #play-again-button {
    width: 200px;
    margin: 30px 0 0;
    padding: 10px 30px 10px 30px;
    background: linear-gradient(180deg, #2a8623 0%, #007018 100%);
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

#modal-container #play-again-button:hover {
    background: linear-gradient(180deg, #0eb631 0%, #009920 100%);
    -webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

#modal-container .win-text {
    padding: 10px 0 0;
}

.red {
    background: #c92020 !important;
}

.green {
    background: #20c944 !important;
}

.moves {
    padding: 0 3px 0 0;
}

.left-column {
    width: 80%;
}

.right-column {
    width: 20%;
    margin: 0 13px 0 0;
    display: flex;
    justify-content: flex-end;
}

.check {
    font-size: 66px;
    color: orange;
}

.block {
    display: inline;
}